# Bibliotecas principais do Bot
discord.py

# Gerenciamento de chaves e ambiente
python-dotenv

# Integração com a Inteligência Artificial do Google
google-genai

# Banco de dados assíncrono SQLite
aiosqlite

discord.py
python-dotenv
google-genai
aiosqlite
deep-translator
beautifulsoup4
aiohttp 