# Bibliotecas principais do Bot
discord.py

# Gerenciamento de chaves e ambiente
python-dotenv

# Integração com a Inteligência Artificial do Google
google-genai

# Integração com a API da OpenAI
openai

# Áudio/voz no Discord
pynacl
discord-ext-voice-recv

# Banco de dados assíncrono SQLite
aiosqlite

deep-translator
beautifulsoup4
aiohttp
fastapi
async-lru
cryptography
Babel
pytest
pytest-asyncio
pytest-cov
